.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff; /* Màu nền của sidebar */
    z-index: 1000; /* Đảm bảo sidebar luôn ở trên cùng */
}

/* Đặt nội dung chính để có thể cuộn */
.main-panel {
    margin-left: 180px; /* Điều chỉnh theo kích thước sidebar của bạn */
    padding: 70px 5px 20px 70px;
    overflow-y: auto;
}
