body {
    font-family: Arial,serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    position: sticky; /* Đảm bảo nó ở đúng vị trí khi cuộn */
    top: 0; /* Bám sát đầu thanh bên */
    z-index: 1001; /* Đảm bảo nó ở trên các yếu tố khác */
    background-color: #1e1e1e;
    padding: 10px 0;
}

h1, h2 {
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1e1e1e;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    text-align: left;
    padding: 12px;
    color: #e0e0e0;
}

th {
    background-color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 4px;
}

td.actions {
    display: flex;
    gap: 10px; /* Add space between buttons */
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

button.save {
    background: #28a745; /* Green */
}

button.delete {
    background: #dc3545; /* Red */
}

button.search {
    background: #007bff; /* Blue */
}

button.pagination {
    background: #6c757d; /* Grey */
}

button.edit {
    background: #ffc107; /* Yellow */
}

button.cancel {
    background: #6c757d; /* Grey */
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    margin-right: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 4px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 10px;
    background: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.stats {
    background: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #e0e0e0;
}

/* Cố định sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Điều chỉnh theo kích thước sidebar của bạn */
    overflow: hidden;
    background-color: #1e1e1e; /* Màu nền của sidebar */
    z-index: 1000; /* Đảm bảo sidebar luôn ở trên cùng */
}

/* Đặt nội dung chính để có thể cuộn */
.main-panel {
    margin-left: 150px; /* Điều chỉnh theo kích thước sidebar của bạn */
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    background-color: #121212; /* Màu nền của nội dung chính */
    color: #e0e0e0; /* Màu chữ của nội dung chính */
}

